[submodule "themes/dracula/gtk"]
	path = themes/dracula/gtk
	url = https://github.com/dracula/gtk/
[submodule "themes/dracula/qt5"]
	path = themes/dracula/qt5
	url = https://github.com/dracula/qt5
[submodule "themes/dracula/grub"]
	path = themes/dracula/grub
	url = https://github.com/dracula/grub
[submodule "themes/dracula/firefox"]
	path = themes/dracula/firefox
	url = https://github.com/dracula/firefox
[submodule "themes/dracula/steam"]
	path = themes/dracula/steam
	url = https://github.com/dracula/steam
[submodule "themes/dracula/icons"]
	path = themes/dracula/icons
	url = https://github.com/matheuuus/dracula-icons
