[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/julia/Desktop/gog_com-DUSK_1.desktop]
row=1
col=1

[/home/julia/Desktop/devilutionX.desktop]
row=11
col=0

[/home/julia/Desktop/io.github.sharkwouter.Minigalaxy.desktop]
row=10
col=0

[/home/julia/Desktop/fem_scout]
row=7
col=0

[/home/julia/Desktop/io.itch.itch.desktop]
row=4
col=1

[/home/julia/Desktop/heroic .desktop]
row=8
col=0

[/home/julia/Desktop/net.lutris.Lutris.desktop]
row=9
col=0

[/home/julia/Desktop/Discord.desktop]
row=6
col=0

[/home/julia/Desktop/steam.desktop]
row=3
col=2

[/home/julia/Desktop/fem_scout_renovation_darker_vo.tar.gz]
row=3
col=1

[/home/julia/Desktop/retroarch.desktop]
row=0
col=1

[/home/julia/Desktop/mate-terminal.desktop]
row=12
col=0

[/home/julia/Desktop/untitled folder]
row=2
col=1

[071de7ef-d38f-4ad5-a51d-c18ea097e97c]
row=1
col=0

[4c273434-9fcf-48a1-b96b-c40be6937a93]
row=0
col=0

[39fc19d6-8b66-4a2a-a79f-dbff24b50f8c]
row=2
col=0

[65D2-35E7]
row=5
col=0

[/]
row=3
col=0

[/home/julia]
row=4
col=0

