@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
    background-color: #161b1d;
    margin: 20%
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.inline {
    display: inline-block;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bookmark-set{
    padding: 1em;
    background-color: #161b1d;
    border-radius: 1px;
    font-family: "Roboto Mono";
    font-size: .85rem;
    width: = 160px;
    height: 16em;
    margin: 0em .0em;
}

.bookmark-inner-container {
    height: 80%;
    vertical-align: top;
}

.bookmark-title {
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 600;
    color: #ededed;
    margin: 0em 0em .35em 0em;
}

.bookmark {
    text-decoration: none;
    color: #7ea2b4;
    display:block;
    margin: .2em 0em;
}

.bookmark:hover {
    color: #5d5db1;
}

